@{
    ViewData["Title"] = "訂購完成";
}

@using (Html.BeginForm())
{
    <div class="cart_body">
        <div class="Header">
            <h3 class="Heading">@ViewData["Title"]</h3>
        </div>
        <div class="Steps">
            <ol class="breadcrumb">
                <li id="Step_cart" class="breadcrumb-item">購物車</li>
                <li id="Step_Confirm" class="breadcrumb-item">確認訂購內容</li>
                <li id="Step_Pay" class="breadcrumb-item">付款</li>
                <li id="Step_Finish" class="breadcrumb-item Step_Current">訂購完成</li>
            </ol>
        </div>
        <div class="Complete-box m-auto">
            <img src="~/icons/beach-vacation.png" class="imgComplete" style="width:200px;">
            <h4 class="Complete-title">感謝您的訂購！</h4>
            <h6>付款編號：@TempData["ECODID"]</h6>
            <div class="Complete-content">
                <p>感謝您透過Traveldate訂購新的旅程。<br>已將您的訂購內容傳送至 <span style="color:#800000;font-weight:600;">@ViewData["email"]</span>，或可於<span class="Step_Current">「會員專區」</span>＞<span class="Step_Current">「我的訂單」</span>中確認訂購內容。<br>Traveldate祝您旅途愉快！</p>
                @Html.ActionLink("我的訂單","orderList","Member",null,new {@class="mt-2 btn my-btn-primary btn-lg col-4", style="margin:0 auto;"})
                <br>
                @Html.ActionLink("回到首頁","HomePage","HomePage",null,new {@class="mt-2 btn btn-outline-dark btn-lg col-4", style="margin:0 auto;"})
            </div>
        </div>
    </div>
}

@section Styles{
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

}

@section Scripts{
    <script src="~/js/jsCart.js"></script>
}