@model prj_Traveldate_Core.ViewModels.CForgotPwdViewModel
@{
    ViewData["Title"] = "忘記密碼";
}

<h1>忘記密碼</h1>

<form asp-action="ForgotPwd">

    <br>
    <br>
    <div class="mb-3">
        <button type="button" class="btn btn-outline-secondary" id="demobtn1">DEMO-瑋倫</button>
        <button type="button" class="btn btn-outline-secondary ml-2" id="demobtn2">DEMO-柏文</button>
        <br />
        <br />

        <label asp-for="email" class="form-label"></label>
        <input type="email" class="form-control Email" asp-for="email" required />
        <br>
        <input type="submit" class="btn my-btn-primary" value="寄送驗證信" />
        <br>
    </div>
</form>

<br>

<div class="downlabel">
    <a asp-area="" asp-controller="Login" asp-action="Login" class="btn my-btn-primary">回到登入</a>
    <a asp-area="" asp-controller="Login" asp-action="SignUp" class="btn btn-outline-secondary ml-2">建立帳戶</a>
</div>

@section Styles
    {
    <link href="~/css/Login.css" rel="stylesheet" />
    <style>

    </style>
 }

@section Scripts{
    <script>
        $('#demobtn1').on('click', function () {
            $('.Email').val("weilunjiang3737@gmail.com");
        })

        $('#demobtn2').on('click', function () {
            $('.Email').val("bowenchang7979@gmail.com");
        })
    </script>
 }