@model prj_Traveldate_Core.ViewModels.CLoginMemberViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "BotDetect.Web.Mvc.CaptchaTagHelper, BotDetect.Web.Mvc"

@{
    ViewData["Title"] = "會員登入";
}
<h1>會員登入</h1>

<form asp-action="Login" method="POST">

@*    <button type="submit" class="btn my-btn-primary">第三方登入</button>
*@    <br>
    <br>
    <button type="button" class="btn btn-outline-secondary" id="demobtn1">DEMO-瑋倫</button>
    <button type="button" class="btn btn-outline-secondary ml-2 mr-2" id="demobtn2">DEMO-柏文</button>
    <button type="button" class="btn btn-outline-secondary" id="demobtn3">DEMO-廷全</button>
    <br />
    <br />
    <div class="mb-3">
        <label for="mlUsername" class="form-label">帳號</label>
        <input type="email" class="form-control account" asp-for="mlUsername" required />
        <span id="phoneHelp" class="form-text ml-1">會員帳號為註冊時填寫的Email</span>
        <br>

        <div class="mb-3">
            <label for="mlPassword" class="form-label">密碼</label>
            <input type="password" class="form-control password" asp-for="mlPassword" required>
            <span class="loginAlert ml-1">@ViewBag.Message</span>
            <span class="loginAlert ml-1">@TempData["ErrorMsg"]</span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">記住密碼</label>
        </div>

        <input type="submit" class="btn my-btn-primary" asp-action="Login" value="登入" />
        <br>
     </div>
</form>

<br>

<div class="downlabel">
    <h6 class="text-danger fw-bold">登入時遇到問題？</h6>
        <a asp-area="" asp-controller="Login" asp-action="SignUp" class="btn my-btn-primary">建立帳戶</a>
    <a asp-area="" asp-controller="Login" asp-action="ForgotPwd" class="btn btn-outline-secondary ml-2 mr-2">忘記密碼</a>
    <a asp-area="" asp-controller="Login" asp-action="CompanyLogin" class="btn btn-outline-secondary">切換廠商登入</a>
    <br />
@* <a asp-area="" asp-controller="Member" asp-action="Index">開發用會員登入</a> *@
</div>

 @section Styles
 {
    <link href="~/css/Login.css" rel="stylesheet" />
 }

@section Scripts{
    <script>
        $('#demobtn1').on('click', function () {
            $('.account').val("weilunjiang3737@gmail.com");
            $('.password').val("12345678");
        })

        $('#demobtn2').on('click', function () {
            $('.account').val("bowenchang7979@gmail.com");
            $('.password').val("12345678");
        })

        $('#demobtn3').on('click', function () {
            $('.account').val("p123456789@gamil.com");
            $('.password').val("eC26PFKp");
        })

    </script>
 }