@model prj_Traveldate_Core.ViewModels.CCouponSendViewModel
@{
    ViewData["Title"] = "Send";
}


<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Review">
                <span>行程審核</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/AccountSuspend">
                <span>停權管理</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Coupon">
                <span>優惠券</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->

            <div class="container-fluid">
                <h2 style="margin-top:10px; margin-left:15px">優惠券管理</h2>

                <div class="col-md-16">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">發放優惠券＆優惠電子報</h6>
                        </div>
                        <div class="card-body">
                            <form action="/Platform/Send" method="post" enctype="multipart/form-data" id="myForm">
                                <div class="form-group">
                                    <label for="SelectedCouponId">選擇優惠券：</label>
                                    <select name="SelectedCouponId" id="SelectedCouponId" class="form-select">
                                        <option>選擇優惠券</option>
                                        @foreach (var coupon in Model.Coupons)
                                        {
                                            <option value="@coupon.CouponListId">@coupon.CouponName</option>
                                        }
                                    </select>
                                </div>

                                <!--優惠券顯示-->
                                <div class="card mb-3 col-8 p-0" id="couponDetails" style="display: none;">
                                    <div class="row g-0">
                                        <div class="col-md-4 pr-0 ">
                                            <div class="overflow-hidden my-rounded-start d-flex justify-content-center" style="background:#408080	">
                                                <img id="couponImage" src="" alt="優惠券照片" style="height:200px"/>
                                            </div>
                                        </div>
                                        <div class="col-md-8 pl-0">
                                            <div class="card-body d-flex justify-content-around row">
                                                <div class="pl-4 pr-4">
                                                    <h5 class="card-title fw-bold" id="couponName"></h5>
                                                    <p>優惠折扣數：<span id="couponDiscount"></span></p>
                                                    <p>描述：<span id="couponDescription"></span></p>
                                                    <p>優惠到期日： <span id="couponDate"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="SelectedMemberIds">選擇發送對象：</label>
                                    <div>
                                        <input type="checkbox" id="SendToAllMembers" name="SendToAllMembers" class="mb-3 mr-1" value="true" />全部會員
                                    </div>
                                    <label for="SelectedMemberIds">選擇會員等級：</label>
                                    <div>
                                        <input type="checkbox" id="SendToNormalMembers" name="SendToNormalMembers" class="mr-1" value="true" />一般會員
                                        <input type="checkbox" id="SendToSilverMembers" name="SendToSilverMembers" class="mr-1" value="true" />白銀會員
                                        <input type="checkbox" id="SendToGoldMembers" name="SendToGoldMembers" class="mr-1" value="true" />白金會員
                                        <input type="checkbox" id="SendToDiamondMembers" name="SendToDiamondMembers" class="mr-1" value="true" />黑鑽會員
                                    </div>
                                    @*<select name="SelectedMemberIds" id="SelectedMemberIds" class="form-control" multiple>
                                        @foreach (var member in Model.Members)
                                        {
                                            <option value="@member.MemberId">@member.Phone</option>
                                        }
                                    </select>*@
                                </div>
                                 <a asp-action="Coupon" class="btn btn-outline-dark">取消</a>
                                <button type="submit" id="sendEmailButton" class="btn btn-primary">發放優惠券＆電子報</button>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @section Styles{
        <style>
            .card-body {
                height: unset;
            }

        </style>
    }

    @section Scripts{


        <script>
           

            const selCou = document.querySelector('#SelectedCouponId');

            async function loadCouponInfo(){
                const response = await fetch(`@Url.Content("/Platform/CouponDetails")?couponId=${selCou.value}`)
                const data = await response.json()
                const couponNameSpan = document.getElementById("couponName");
                const couponDiscountSpan = document.getElementById("couponDiscount");
                const couponDescriptionSpan = document.getElementById("couponDescription");
                const couponImage = document.getElementById("couponImage");
                const couponDateSpan = document.getElementById("couponDate");

                couponNameSpan.textContent = data.couponName;
                couponDiscountSpan.textContent = data.couponDiscount;
                couponDescriptionSpan.textContent = data.couponDescription;
                couponDateSpan.textContent = data.couponDate;
                couponImage.src = /images/+data.couponImage;
                console.log(data.couponImage);
                document.getElementById("couponDetails").style.display = "block";
            }

            $("#SelectedCouponId").change(function () { 
                loadCouponInfo();
            });

            //如要發送全部會員，就不能複選會員等級
            const sendToAllMembers = document.getElementById('SendToAllMembers');
            const sendToNormalMembers = document.getElementById('SendToNormalMembers');
            const sendToSilverMembers = document.getElementById('SendToSilverMembers');
            const sendToGoldMembers = document.getElementById('SendToGoldMembers');
            const sendToDiamondMembers = document.getElementById('SendToDiamondMembers');

            sendToAllMembers.addEventListener('change', function () {
                if (sendToAllMembers.checked) {
                    sendToNormalMembers.checked = false;
                    sendToSilverMembers.checked = false;
                    sendToGoldMembers.checked = false;
                    sendToDiamondMembers.checked = false;
                }
            });

            sendToNormalMembers.addEventListener('change', function () {
                if (sendToNormalMembers.checked) {
                    sendToAllMembers.checked = false;
                }
            });

            sendToSilverMembers.addEventListener('change', function () {
                if (sendToSilverMembers.checked) {
                    sendToAllMembers.checked = false;
                }
            });

            sendToGoldMembers.addEventListener('change', function () {
                if (sendToGoldMembers.checked) {
                    sendToAllMembers.checked = false;
                }
            });

            sendToDiamondMembers.addEventListener('change', function () {
                if (sendToDiamondMembers.checked) {
                    sendToAllMembers.checked = false;
                }
            });


        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const sendEmailButton = document.getElementById("sendEmailButton");
                const form = document.getElementById("myForm");

                sendEmailButton.addEventListener("click", function (event) {
                    event.preventDefault(); 

                    Swal.fire({
                        title: '<span style="color:	#00BB00; font-size: 36px">發送優惠電子報</span>',
                        html: '<span style="font-size: 18px">正在發送 <b style="color:red; font-size:30px;"></b> / 20 封獨家優惠電子報．．．</span>',
                        timerProgressBar: true,
                        showConfirmButton: false,
                        didOpen: () => {
                            Swal.showLoading();
                            const b = Swal.getHtmlContainer().querySelector('b');
                            let emailCount = 0;

                            const simulateEmailSending = setInterval(() => {
                                b.textContent = emailCount;
                                emailCount++;
                                if (emailCount > 20) {
                                    clearInterval(simulateEmailSending);
                                    form.submit();
                                }
                            }, 200);
                        }
                    });
                });
            });
        </script>

    }


