@using prj_Traveldate_Core.ViewModels;
@model CCreatArticleViewModel
@{
    ViewData["Title"] = "Create";
}
@section Styles{

    <!-- Summernote CSS -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    @* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@
    
    <style>
        .overlay {
            background-color: rgba(0, 0, 0, 0.2);
            justify-content: center;
            align-items: center;
        }



        .my-Heading-color {
            color: #155074;
        }

        .divScrollBar{
            max-height:200px;
            overflow-y: auto;
            border:1px solid gray;
            border-radius:7px;
            padding:2px;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #155074;
            border-radius: 5px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #74abcc;
            }

        .confirmContent{
            max-height:350px;
            overflow-y: auto;
            border-radius: 7px;
            padding: 2px;
            border:solid 1px #155074;
        }
    </style>
  }
<div class="row justify-content-center pb-4">
    <h3 class="pl-2 pr-2 my-Heading-color fw-bolder col-10">發起揪團<button id="btnDemo" class="btn btn-outline-secondary w-auto">DEMO揪團</button></h3>
    <div class="col-10 bg-white rounded-3 p-4 d-flex justify-content-center">
        
        <div class="col-11">
            <form asp-action="Create" method="post" name="article">
                <input type="hidden" asp-for="forum.MemberId" value="@ViewBag.memberId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group fs-5">
                    <p class="control-label divide-line fs-3">揪團標題</p>
                    <input asp-for="forum.Title" class="form-control fs-4" id="forumTitle" />
                    @*<span asp-validation-for="Title" class="text-danger"></span>*@
                </div>
                <div>
                    <p class="fs-5 divide-line fs-3">選擇旅行項目與日期</p>
                    <div class="divAddTrips" id="tripCount">
                        <div class="d-flex mb-2 d-1">
                            <div class="form-group col-6 pl-0 mb-0">
                                <input name="keyword" class="form-control form-select form-select-md inputTrip fs-5" id="inputTrip-1"
                                       placeholder="請選擇旅行項目" />
                                    <div id="divTrip-1" class="rounded divTrip">
                                    </div>
                                </div>
                            
                            
                            <div class="form-group col-3 mb-0">
                                <input class="form-control form-select form-select-md inputTripDate fs-5" id="inputTripDate-1" placeholder="請選擇日期" />
                                <input type="hidden" asp-for="tripIds[0]" id="tripId-1" />
                                <div id="divTripDate-1" class="rounded divTripDate">
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fs-4 fw-bolder text-black showPrice" id="showPrice-1"></span>
                            </div>
                            <div class="ml-2">
                                <img id="btnDeleteTrip-1" class="btnDeleteTrip d-none" src="~/icons/icons8-close-48.png" />
                                <img id="btnEditTrip-1" class="btnEditTrip d-none" src="~/icons/icons8-edit-48.png" />
                                <img id="btnCheck-1" class="btnCheck d-none" src="~/icons/icons8-check--creat-article-48.png" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center d-none" id="divAddBtn">
                        <img class="btnPlusTrip" src="~/icons/icons8-btn-plus-create-article-48.png"/>
                        <div class="d-flex align-items-center"><span class="fs-5 fw-bold text-gray-700">加入更多旅行項目</span></div>
                    </div>
                </div>

                <div class="form-group pl-0 fs-5 mt-4">
                    <div class="control-label divide-line">
                        <span class="fs-3">截團日期 </span>
                        <i class="small text-gray-700">(請選擇最近旅行日期前三天)</i>
                        <img src="~/icons//icons8-information.gif" height="18" data-bs-toggle="tooltip" data-bs-placement="top" title="為確保行程安排順暢,本平台將截團日期限制於旅行前三日,敬請見諒" />
                    </div>
                    <input asp-for="forum.DueDate" type="text" id="dashboardcalendar" class="form-control d-none col-5 fs-4 mt-2" />
                </div>
                <div class="form-group fs-5">
                    <textarea asp-for="forum.Content" id="summernote"></textarea>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-outline-secondary ml-1 fs-5" onclick='deleteArticle()'>捨棄</button>
                        <input asp-for="isSave" id="btnSaveArticle" type="submit" value="儲存草稿" class="btn btn-outline-secondary ml-1 fs-5" />
                        @* <button type="button" class="btn my-btn-primary ml-1 fs-5" onclick="confirmArticle()">下一步</button> *@
                        <!-- Button trigger modal -->
                        <button id="putInfoOnModal" type="button" class="btn my-btn-primary ml-1 fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            下一步
                        </button>
                        <!-- Modal -->
                        <div class="modal fade overlay" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header my-bg-primary">
                                        <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">確認揪團內容</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="infoBody" class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary ml-1 fs-5" data-bs-dismiss="modal">再想一下</button>
                                        <input asp-for="isPublish" type="submit" value="結帳去" class="btn my-btn-primary ml-1 fs-5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a asp-action="ForumList" class="fs-5 my-text-primary fw-bolder">找揪團</a>
        </div>
    </div>
    <div>
    </div>
</div>



@section Scripts {
    @{
        // await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#btnDemo').on('click', function () {
            $('.note-placeholder').text("");
            $('#forumTitle').val("秋日風情，探訪台灣自然之美")
            var content = document.querySelector('.note-editable');
            content.innerHTML=
                `<p>大家好！我是你們的台灣旅遊達人瑋倫，今天要和大家分享一趟充滿冒險與美景的旅程。如果你也想體驗這個令人難以忘懷的旅程，就跟著我，一同探索台灣的自然之美吧！</p>
        <br />
                <h5>10月7日 - 鯉魚潭豪華露營</h5>
                <p>我們的旅程從台灣東部的花蓮縣開始。抵達後，我們將前往美不勝收的鯉魚潭，這個湖泊被山脈環繞，湖光山色令人陶醉。我們將在這裡享受一晚的豪華露營，沐浴在星光下，度過一個浪漫的夜晚。</p>
        <br />
                <h5>10月10日 - 蘭嶼三天兩夜之旅</h5>
                <p>接著，我們將搭乘渡輪前往台灣東南方的寶藏，蘭嶼。這個小島以其原始的自然景色和友善的部落文化而聞名。在這裡，我們將有三天兩夜的時間，探索島上的美景，包括壯觀的海岸線、古老的石屋、以及擁有悠久歷史的蘭嶼文化村落。當然，我們也不能錯過蘭嶼的浮潛體驗，探索五光十色的珊瑚世界，這絕對是一個令人難以置信的冒險！</p>
        <br />
                <h5>10月15日 - 澎湖SUP體驗</h5>
                <p>接著我們將前往台灣西部的澎湖，這個美麗的群島以其清澈的海水和多樣化的水上活動而聞名。在澎湖，我們將體驗到令人興奮的SUP（立式划槳衝浪）活動。這是一個極具挑戰性的水上運動，但也是一種讓你盡情享受大自然之美的方式。我們將在碧海藍天下，划過湛藍的海水，感受海風拂面的清新。如果你是水上運動愛好者，這將是一個難以忘懷的體驗！</p>
        <br />
                <h5>結束 - 返回台灣本島</h5>
                <p>我們的冒險之旅即將結束，但我們將滿載回憶和美麗的風景回到台灣本島。這趟旅程將讓你深刻體驗到台灣多樣的自然景色和文化，我們已經準備好迎接下一次的冒險了！</p>
        <br />
        <p>有興趣的朋友們趕快來報名!!</p>`
        })
    </script>
    <script>
        $('#putInfoOnModal').on('click', function () {
            var title = document.querySelector('#forumTitle');
            var dueDate = document.querySelector('#dashboardcalendar');
            var rrr = document.querySelector('.note-editable');
            console.log(rrr.innerHTML)
            var values = `
                    <img src="/icons/beach-vacation.png" height="100"/>
                            <table class="table fs-5 table-hover">
                    <thead>
            <tr>
              <th class="col-7">旅行項目</th>
              <th class="col-3">旅行時間</th>
              <th class="col-2">價格</th>
            </tr>
          </thead>
                <tbody>`
           
            var tripCount = document.querySelectorAll('#tripCount .inputTripDate').length;
            var totalPrice = 0;
            for (let i = 0; i < tripCount;i++){
                var eachTrip = $('.inputTrip').eq(i).val();
                var eachTripDate = $('.inputTripDate').eq(i).val();
                var eachPrice = $('.showPrice').eq(i).text();
                var priceValue = parseFloat(eachPrice.replace(/\$| /g, ''));
                totalPrice += priceValue
                values +=
                    `
                            <tr>
                               <td>${eachTrip}</td>
                               <td>${eachTripDate}</td>
                               <td>${eachPrice}</td>
                            </tr>
                    `
            }
            values += ` 
                    <tr>
                      <td></td>
                      <td class="fw-bolder">總金額</td>
                      <td>$    ${totalPrice}</td>
                    </tr>
                    </tbody>
                    </table>`
            values += `<h5 class="fw-bolder mb-2">截團時間 <span class="my-bg-primary text-white p-1 rounded">${dueDate.value}</span></h5>
            <h5 class="fw-bolder">揪團標題 ${title.value}</h5>
            <div class="confirmContent">       
            ${ rrr.innerHTML }
            </div>`
            $('#infoBody').html(values);
        })
       
    </script>
 
    <!-- Summernote JS -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>
        //刪除文章的sweetAlert
        function deleteArticle() {
            Swal.fire({
                title: '確定要刪除揪團嗎?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#155074',
                cancelButtonColor: '#d33',
                confirmButtonText: '刪除',
                cancelButtonText:'取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: '返回揪團區…',
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false,
                    });
                    setTimeout(() => {
                        location.href = '@Url.Content("~/Forum/ForumList")';
                    }, 2000);
                }
            })
        }
        //儲存草稿
        function saveArticle() {
            Swal.fire({
                icon: 'success',
                title: '儲存草稿成功!',
                showConfirmButton: false,
                timer: 1500
            })
        }
        //發布
        // function publishArticle() {
        //     Swal.fire({
        //         icon: 'success',
        //         title: '發布成功!',
        //         showConfirmButton: false,
        //         timer: 1500
        //     })
        // }
        
    </script>
    

    <script>
        //初始化tooltip
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
    <script>
        var ordinal_number = 1;
        var canAddNewTrip = false;
        $('.btnPlusTrip').on('click', function () {
            var $prevTripInput = $(`#inputTrip-${ordinal_number}`);
            var $prevTripDateInput = $(`#inputTripDate-${ordinal_number}`);
            $('#divAddBtn').addClass('d-none')

            if ($prevTripInput.val() === "" || $prevTripDateInput.val()==="") {
                canAddNewTrip = false;
            }else{
                canAddNewTrip=true;
            }

            if (canAddNewTrip){
            $prevTripInput.attr("disabled", "disabled");
            $prevTripDateInput.attr("disabled", "disabled");
            $('.btnDeleteTrip').removeClass('d-none');
            $('.btnEditTrip').removeClass('d-none');
            const divAddTrips = document.querySelector('.divAddTrips');
            const newDiv = document.createElement('div');
                ordinal_number++;
                newDiv.classList.add('d-flex', 'mb-2', `d-${ordinal_number}`);
           
            newDiv.innerHTML =
                `<div class="form-group col-6 pl-0 mb-0">
                  <input name="keyword" class="form-control form-select form-select-md inputTrip fs-5" id="inputTrip-${ordinal_number}"
            placeholder="請選擇旅行項目" />
          <div id="divTrip-${ordinal_number}" class="rounded divTrip">
          </div>
        </div>
        <div class="form-group col-3 mb-0">
                  <input class="form-control form-select form-select-md inputTripDate fs-5" id="inputTripDate-${ordinal_number}"
            placeholder="請選擇日期" />
               <input type="hidden" name="tripIds[${ordinal_number-1}]" id="tripId-${ordinal_number}" />
                      
          <div id="divTripDate-${ordinal_number}" class="rounded divTripDate">
          </div>
        </div>
                <div class="d-flex align-items-center">
                                  <span class="fs-4 fw-bolder text-black showPrice" id="showPrice-${ordinal_number}"></span>
                                 
        </div>
        <div class="ml-2">
                  <img id="btnDeleteTrip-${ordinal_number}" class="btnDeleteTrip d-none" src="/icons/icons8-close-48.png"/>
                  <img id="btnEditTrip-${ordinal_number}" class="btnEditTrip d-none" src="/icons/icons8-edit-48.png"/>
                  <img id="btnCheck-${ordinal_number}" class="btnCheck d-none" src="/icons/icons8-check--creat-article-48.png"/>
        </div>
        </div>
             `
           divAddTrips.appendChild(newDiv);
            }
           
        })
       
    </script>
    <script>
        //移除選取後的旅程
        $('.divAddTrips').on('click', '.btnDeleteTrip', function () {
            const delete_num = $(this).attr('id').split('-')[1];
            $(`.d-${delete_num}`).removeClass('d-flex');
            $(`.d-${delete_num}`).removeClass('mb-2');
            $(`.d-${delete_num}`).addClass('d-none');
            $(`#tripId-${delete_num}`).val(0);
            // let delete_index= delete_num - 1;
            // const divAddTrips = document.querySelector('.divAddTrips');
            // const removedDiv = document.createElement('div');
            // removedDiv.classList.add('d-flex', 'mb-2', `d-none`);
            // removedDiv.innerHTML =`<input type="hidden" asp-for= "tripIds[${delete_index}]" id = "tripId-1" value="0"/>`
            // divAddTrips.appendChild(removedDiv)
            updateDueDate()
        })
        function Editor(edit_num) {
            $(`#inputTrip-${edit_num}`).removeAttr("disabled");
            $(`#inputTripDate-${edit_num}`).removeAttr("disabled");
            $(`#btnCheck-${edit_num}`).removeClass('d-none');
            $(`#btnDeleteTrip-${edit_num}`).addClass('d-none');
            $(`#btnEditTrip-${edit_num}`).addClass('d-none');
        }
        function Check(check_num) {
            $(`#inputTrip-${check_num}`).attr("disabled", "disabled");
            $(`#inputTripDate-${check_num}`).attr("disabled", "disabled");
            $(`#btnCheck-${check_num}`).addClass('d-none');
            $(`#btnDeleteTrip-${check_num}`).removeClass('d-none');
            $(`#btnEditTrip-${check_num}`).removeClass('d-none');
        }

        //修改disabled的旅程
        $('.divAddTrips').on('click', '.btnEditTrip', function () {
            const edit_num = $(this).attr('id').split('-')[1];
            Editor(edit_num)
        })
        //確認修改的旅程
        $('.divAddTrips').on('click', '.btnCheck', function () {
            const check_num = $(this).attr('id').split('-')[1];
            Check(check_num)
            updateDueDate()
        })
    </script>
    <script>
        // 選取trip / tripDate         
        $('.divAddTrips').on('focus', '.inputTrip', function () {
            const id = $(this).attr('id'); // 獲取目前 input 元素的 id
            const ordinal_number = parseInt(id.split('-')[1]); // 從 id 中解析出 ordinal_number
            loadTrips(ordinal_number);
            $(`#inputTripDate-${ordinal_number}`).val("");
        });
        $('.divAddTrips').on('input', '.inputTrip', function () {
            const id = $(this).attr('id'); // 獲取目前 input 元素的 id
            const ordinal_number = parseInt(id.split('-')[1]); // 從 id 中解析出 ordinal_number
            loadTrips(ordinal_number,$(this).val());
            $(`#inputTripDate-${ordinal_number}`).val("");
        });


        $('.divAddTrips').on('mousedown', function (event) {
            if (!$(event.target).closest('.divTrip').length) {
                // 若觸發事件的元素不是 .divTrip 或其子元素
                $('.divTrip').html(""); // 清空內容
                $('.divTrip').removeClass('divScrollBar')
            }
            if (!$(event.target).closest('.divTripDate').length) {
                // 若觸發事件的元素不是 .divTrip 或其子元素
                $('.divTripDate').html(""); // 清空內容
                $('.divTripDate').removeClass('divScrollBar')
            }
            
        });
        

        async function loadTrips(ordinal_num,keyword) {
            
            const resopnse = await fetch(`@Url.Content("~/Forum/selectTrips")?keyword=${keyword}`)
            const datas = await resopnse.json();
          
            if (datas != null) {
                const trips = datas.map(trip => {
                    const { productName, productId } = trip
                    return (
                        `<a asp-action="selectDate" asp-route-id="${productId}" class="list-group-item list-group-item-action tripOptItems fs-5">${productName}</a>`
                    )
                })
                $(`#divTrip-${ordinal_num}`).html(trips.join(""));
                $(`#divTrip-${ordinal_num}`).addClass('divScrollBar');
                const tripOptItems = document.querySelectorAll('.tripOptItems');
                tripOptItems.forEach(tripItem => {
                    tripItem.addEventListener('click', (e) => {
                        e.preventDefault();
                        const clickedTrip = e.target.textContent;
                        const productId = tripItem.getAttribute('asp-route-id'); // 獲取 asp-route-id 的值
                        $(`#inputTripDate-${ordinal_num}`).on('focus',function() {
                            loadTripDate(productId, ordinal_num);
                        })
                        $(`#divTrip-${ordinal_num}`).html("");
                        $(`#inputTrip-${ordinal_num}`).val(clickedTrip);
                        $(`#divTrip-${ordinal_num}`).removeClass('divScrollBar');
                    });
                })
            }
        }
        
        async function loadTripDate(productId, ordinal_num) {
            const response = await fetch(`@Url.Content("~/Forum/selectDate")?id=${productId}`)
            const datas = await response.json();
            if (datas != null) {
                const dates = datas.map(date => {
                    const { price, tripDate,tripId } = date
                    return (
                        `<a asp-action="selectDate" id="${tripId}" asp-route-id="${price}" class="list-group-item list-group-item-action dateOptItems fs-5">${tripDate}</a>
                        `
                    )
                })

                $(`#divTripDate-${ordinal_num}`).html(dates.join(""))
                $(`#divTripDate-${ordinal_num}`).addClass('divScrollBar')
                const dateOptItems = document.querySelectorAll('.dateOptItems');
                dateOptItems.forEach(dateItem => {
                    dateItem.addEventListener('click', (e) => {
                        e.preventDefault();
                        $(`#inputTripDate-${ordinal_num}`).val(e.target.textContent);
                        $(`#showPrice-${ordinal_num}`).text('$  ' + dateItem.getAttribute('asp-route-id'))
                        $(`#tripId-${ordinal_num}`).val(dateItem.getAttribute('id'));
                        var $showPrice = $(`#showPrice-${ordinal_number}`).text();
                        if ($showPrice !== "") {
                            $('#divAddBtn').removeClass('d-none')
                        }
                        updateDueDate()
                        $(`#divTripDate-${ordinal_num}`).html("")
                        $(`#divTripDate-${ordinal_num}`).removeClass('divScrollBar')
                    })
                })
            }
        }
        function updateDueDate() {
            let minDate1 = null;
            const divAddTrips = document.querySelector('.divAddTrips');
            const tripBlocks = divAddTrips.querySelectorAll('.d-flex.mb-2');
            //取得行程中最小的日期
            tripBlocks.forEach(tripBlock => {
                const inputTripDate = tripBlock.querySelector('.inputTripDate');
                const dateValue = inputTripDate.value;

                if (dateValue) {
                    const minusThreeDays = new Date(dateValue);
                    minusThreeDays.setDate(minusThreeDays.getDate() - 3);
                    if (!minDate1 || minusThreeDays < minDate1) {
                        minDate1 = minusThreeDays;
                    }
                }
            });
            $('#dashboardcalendar').removeClass('d-none')
            $('#dashboardcalendar').flatpickr({
                dateFormat: "Y-m-d",
                minDate: "today",
                //旅程裡日期最小的前三天 , 指定月份-1(0~11月)
                maxDate: minDate1
            });
            var originalDate = new Date(minDate1);
            var year = originalDate.getFullYear();
            var month = (originalDate.getMonth() + 1).toString().padStart(2, '0'); // 加1，月份是從0開始的
            var day = originalDate.getDate().toString().padStart(2, '0');

            // 格式化日期
            var formattedDate = year + '-' + month + '-' + day;
            $('#dashboardcalendar').val(formattedDate)
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '請輸入內容...',
                height: 500 // 設定編輯器的高度
            });
        });
    </script>
    <script>
        $('#btnSaveArticle').on('click', () => {
            saveArticle();
        })
        // $('#btnPublish').on('click', () => {
        //     publishArticle();
        // })
    </script>
  }