@using prj_Traveldate_Core.ViewModels;
@model CArticleViewModel

<div id="my-reply" class="d-flex divide-line-top col bg-white pt-2 pb-2">
    @if (Model.member.ImagePath != null)
    {
        <img src="~/images/@Model.member.ImagePath" class="my-w100-h100" alt="@Model.member.MemberId">
    }
    else
    {
        if (Model.member.Photo != null)
    {
        <img src="data:image/jpg;base64,@Convert.ToBase64String(Model.member.Photo)" class="my-w100-h100" alt="@Model.member.MemberId">
    }
    else
    {
        if (Model.member.Gender == "男")
        {
            <img src="~/icons/icons8-person-100.png" class="my-w100-h100" alt="null">
        }
        else
        {
            <img src="~/icons/icons8-person-female-100.png" class="my-w100-h100" alt="null">
        }

    }
    }
    
    
    <div class="col">
        <h4>@Model.member.LastName@Model.member.FirstName</h4>
        <div>
            <textarea id="replyContent" name="Content" type="text" class="form-control reply-input" placeholder="留言..."></textarea>
        </div>
        <div class="d-flex justify-content-end pt-1">
            <button id="btnDemoReply" class="btn btn-outline-secondary mr-1">DEMO回覆</button>
            <input id="btnSubmit" class="btn my-btn-primary mr-1" type="submit" value="送出"/>
            <input class="btn btn-secondary "type="reset" value="取消" />
        </div>
    </div>
</div>
