.rectangle-container {
    width: 70px; /* 調整容器的寬度 */
    height: 15px; /* 調整容器的高度 */
    overflow: hidden;
    /*z-index: 100;*/
  }
  
  .rectangle {
    /*position: absolute;*/
    /*top: 0;*/
    width: 0;
    height: 15px;
    background-color: #44dbe6; /* 設定矩形的初始背景顏色 */
    
  }
  .star-rating{
    position: absolute;
    top: 0;
    width: 70px; /* 調整容器的寬度 */
  }

