/****************************************共同區********************************************/
body {
    /* background-color: #DCE5E2;*/ /*原本的*/
    /*background-color: #fff;*/ /*白色*/
    /*background-color: #EDF2F0;*/ /*偏綠+亮白*/
    background-color: #f9fbfa;
}

.filter_block,
.forum-block > div {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom:10px;
    /*background-color: #DCE5E2;*/
}

#arrow_top_up,
.checkbox,
.calendar-container,
.calendar-gif,
.search-icon-gif,
.write-icon-gif,
.insert-photo-gif {
    display: none;
}

.search_container:hover .search-icon-static,
.my-calendar:hover .calendar-static,
.write-conatiner:hover .write-icon-static,
.insert-photo-container:hover .insert-photo-static {
    display: none;
}

.search_container:hover .search-icon-gif,
.my-calendar:hover .calendar-gif,
.write-conatiner:hover .write-icon-gif,
.insert-photo-container:hover .insert-photo-gif {
    display: inline-block;
}
/*文字顏色,背景顏色*/
.my-text-primary {
    color: #00000098;
}


.my-text-secondary {
    color: #88A8BC;
}
.my-bg-primary {
    /*background-color: #004B97;*/
    background-color: #155074;
}

.bg-for-fill {
    /*background-color: #004B97;*/
    background-color: #A3D1D1;
}

.my-bg-secondary {
    background-color: #88A8BC;
}

.category-click > span {
    width: 80%;
}

.divide-line {
    border-radius: 0;
    border-bottom: 1px solid #dee1d9;
    padding: 5px 0 5px 0;
}

.divide-line-top {
    border-radius: 0;
    border-top: 1px solid #dee1d9;
    padding: 5px 0 5px 0;
}

.my-w-80-percent {
    width: 80%;
}

.sort {
    padding: 5px 0 10px 0;
}

    .sort > a {
        text-decoration: none;
        color: #88A8BC;
    }

        .sort > a:visited {
            color: #88A8BC;
        }

        .sort > a:hover {
            color: #185ab6;
        }
.uncheckbox,
.checkbox,
input,
.card,
.my-calendar,
.category-click,
.write-conatiner,
.insert-photo-container,
.clearKeyword,
.btnPlusTrip,
.btnDeleteTrip,
.btnEditTrip,
.btnCheck {
    cursor: pointer;
}

.align-corner {
    display: none;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    color: white; /* 白色字体颜色 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease; /* 添加淡入效果 */
}

.rounded-10{
    
    border-radius:10px;
}
/*********************************************************************************************/
/******************************************************Search區**************************************************************************/
.selected-block {
    background-color: #fff;
}

.controls-display-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-click {
    padding: 0 0 10px 15px;
}
.my-calendar:hover .calendar-container {
    display: block;
    z-index: 100;
    width: 620px;
    height: 200px;
}

.search_container {
    padding:5px;
    margin: 5px 10px 5px 10px;
    align-items: center;
    border: 1px #D0D0D0 solid;
    border-radius: 5px;
    width: 90%;
    background-color: #fff;
}
.search-input {
    border: none;
    outline: none;
    width: 100%;
}

.my-w50-h50 {
    width: 50px;
    height: 50px;
}
.my-w100-h100 {
    width: 100px;
    height: 100px;
}

.calendar-container {
    position: absolute;
    z-index: 1;
}
.calendar_header {
    background-color: #155074;
}
.calendar_header>h2 {
    color:aliceblue;
}
/************card區*************/
.card {
    border-radius: 10px;
}
.my-rounded-start{
    border-radius:10px 0 0 10px;
}


.card-text {
    margin-bottom: 0;
}
/*******************************/

/***********星星區**************/
/*.star-rating-container {
    width: 50px;*/ /* 調整容器的寬度 */
    /*height: 10px;*/ /* 調整容器的高度 */
    /*overflow: hidden;
}

.star-rating-div {
    width: 0;
    height: 10px;
    background-color: #44dbe6;*/ /* 設定矩形的初始背景顏色 */
/*}

.search-star-rating {
    position: absolute;*/ /* 將.star-rating設置為絕對定位 */
    /*top:0;
    width: 50px;*/ /* 調整容器的寬度 */
/*}*/
/*******************************/

/*********************************************************************************************************************************************/




/******************************************************揪團討論區**************************************************************************/
.content-input {
    height: 400px !important;
}
.my-img-circle {
    border-radius: 50%;
}
.container > main > img {
    width: 100%;
}
/**************************************************************************************************************************************/


/**************************************20230810新增my-btn-primary***********************************************************/
:root {
    --bs-btn-color: #F8FDCF;
    --bs-btn-bg: #155074;
    --bs-btn-border-color: #155074;
    --bs-btn-hover-color: #F8FDCF;
    --bs-btn-hover-bg: #5a8edb;
    --bs-btn-hover-border-color: #5a8edb;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #F8FDCF;
    --bs-btn-active-bg: #5a8edb;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F8FDCF;
    --bs-btn-disabled-bg: #155074;
    --bs-btn-disabled-border-color: #155074;
}

.my-btn-primary {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

    .my-btn-primary:hover {
        color: var(--bs-btn-hover-color);
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-border-color);
    }

.btn-dock-right {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    height: 100%;
}

/**************************導覽列************************************/
.nav-height-mt {
    margin-top: 91.84px;
}