@model prj_Traveldate_Core.Models.MyModels.CTripWrap

@{
    ViewData["Title"] = "Create";
}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Dashboard/List">
                <img src="~/icons/home.png" class="subicon" />
                <span>首頁</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany"
               aria-expanded="true" aria-controls="collapseCompany">
                <img src="~/icons/company.png" class="subicon" />
                <span>旅行社專區</span>
            </a>
            <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Company/Edit">帳號管理</a>
                    <a class="collapse-item" href="~/Company/Password">更改密碼</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <img src="~/icons/edit.png" class="subicon" />
                <span>產品管理</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Product/List">產品列表</a>
                    <a class="collapse-item" href="~/Product/Create">新增產品</a>
                    <a class="collapse-item" href="~/Trip/List">出團日期</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalyze"
               aria-expanded="true" aria-controls="collapseAnalyze">
                <img src="~/icons/company.png" class="subicon" />
                <span>數據分析</span>
            </a>
            <div id="collapseAnalyze" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Analysis/SellAnalysis">銷售分析</a>
                </div>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <h2>新增行程</h2>
            <div class="container-fluid">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="row">
                    <div class="col-lg-6">
                            @*<!-- Basic Card Example -->*@
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">基本資料</h6>
                                    </div>
                                    <div class="card-body">
                                    <input asp-for="ProductId" type="hidden" class="form-control" value="@Model.ProductId" />
                                        <div class="form-group">
                                             <label asp-for="UnitPrice" class="control-label">單價</label>
                                            <div class="col-md-10">
                                            <input asp-for="UnitPrice" class="form-control" id="UnitPrice" />
                                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                            </div>
                                        </div>

                                    <div class="form-group">
                                        <label asp-for="MinNum" class="control-label">最少出團人數</label>
                                        <div class="col-md-10">
                                            <input asp-for="MinNum" class="form-control" id="MinNum" />
                                            <span asp-validation-for="MinNum" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="MaxNum" class="control-label">最多出團人數</label>
                                        <div class="col-md-10">
                                            <input asp-for="MaxNum" class="form-control" id="MaxNum" />
                                            <span asp-validation-for="MaxNum" class="text-danger"></span>
                                        </div>
                                    </div>

                                    </div>
                                 </div>
       
                    </div>
                    <div class="col-lg-6">
                               @*<!-- Basic Card Example -->*@
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">日期</h6>
                                    </div>
                                    <div class="card-body">
                                    <label asp-for="Date" class="control-label">出團日期</label>
                                    @* <input asp-for="Date" class="control-label" type="date" /> *@
                                    <input type="text" id="tripcalendar" name="tripDates" class="form-control" />
                                     <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">折扣</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="Discount" class="control-label">折扣幅度</label>
                                        <div class="col-md-10">
                                            <input asp-for="Discount" class="form-control" id="Discount" />
                                            <span asp-validation-for="Discount" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="DiscountExpirationDate" class="control-label">折扣期限</label>
                                      @*   <input asp-for="DiscountExpirationDate" class="form-control" type="date" /> *@
                                        <input type="text" id="discountcalendar" class="form-control" name="discountLimitDate" />
                                        <span asp-validation-for="DiscountExpirationDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                    </div>

                        
                </div>

                    <div class="form-group text-right">
                        <input type="submit" value="新增" class="btn btn-primary" id="createTrip" />
                        <a asp-action="List" class="btn btn-primary">取消</a>
                    </div>

                </form>
                <div style="margin-top:20px">
                    <input type="button" value="Demo" class="btn btn-primary" id="demo" />
                </div>


            </div>
            <!-- /.container-fluid -->

          </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <style>
        .card-body {
            height: unset;
        }

        .cardTitle {
            font-size: 25px;
        }
        
    </style>
 }


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#createTrip').click(function () {
            swal("新增產品日期成功！", "稍後將自動為您導向", "success");

        });

        $('#tripcalendar').flatpickr({
            mode: "multiple",
            dateFormat: "Y-m-d",
            
        });

        $('#discountcalendar').flatpickr({
            
            dateFormat: "Y-m-d",
            
        });
        $('#demo').click(function () {
            $('#UnitPrice').val('3000');
            $('#MinNum').val('1');
            $('#MaxNum').val('30');
            $('#Discount').val('1000');
            

        });
    </script>
}
